[submodule "tomato.backends.productservice"]
	path = tomato.backends.productservice
	url = git@github.com:khietbt/tomato.backends.productservice.git
	branch = master
[submodule "tomato.backends.discoveryservice"]
	path = tomato.backends.discoveryservice
	url = git@github.com:khietbt/tomato.backends.discoveryservice.git
	branch = master
[submodule "tomato.backends.configservice"]
	path = tomato.backends.configservice
	url = git@github.com:khietbt/tomato.backends.configservice.git
	branch = master
[submodule "tomato.backends.adminservice"]
	path = tomato.backends.adminservice
	url = git@github.com:khietbt/tomato.backends.adminservice.git
	branch = master
[submodule "tomato.backends.gatewayservice"]
	path = tomato.backends.gatewayservice
	url = git@github.com:khietbt/tomato.backends.gatewayservice.git
	branch = master
[submodule "tomato.backends.userservice"]
	path = tomato.backends.userservice
	url = git@github.com:khietbt/tomato.backends.userservice.git
	branch = master
